@charset "utf-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  border: 5px solid red;
}
/* CSS Document */
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

body,
td,
th,
p {
  /*font-size: 10pt;*/
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}
ul,
li {
  /*font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;*/
  color: #333;
}
a {
  color: #f77400;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: Arial, Helvetica, sans-serif;*/
  margin: 0 0 20px;
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}
/*
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}*/
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#maincontent > section {
  width: 100%;
}

#map-container {
  height: 50vh;
  width: 100%;
}

#footer {
  background-color: #252831;
  color: rgb(218, 216, 216);
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  /*height: 80px;*/
  height: 12vh;
  background-color: #252831;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
nav a {
  max-width: 80px;
}
nav img {
  height: 100%;
  width: auto;
}

nav h1 {
  margin: auto;
  color: #f77400;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 1.2rem;
  margin: 0;
  /*width: calc(50% - 80px);*/
  width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #944805;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */

#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*background-color: #3397db;*/
  background-color: #944805;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  /*font-family: Arial, sans-serif;*/
  font-size: 1.1rem;
  height: 2.5rem;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  flex-grow: 1;
  max-width: 400px;
  min-width: 250px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  /* font-family: Arial, sans-serif;*/
  margin: 15px 5px;
  min-height: 390px;

  text-align: center;
  flex: 0 1 270px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  /*display: block;*/
  margin: 0;
  width: 100%;
  height: auto;
  max-width: 400px;
}
#restaurants-list li h1 {
  /*color: #f18200;*/
  color: #794211;
  /*font-family: Arial, sans-serif;*/
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.1rem;
}
#restaurants-list li a {
  /*background-color: orange;*/
  background-color: #944805;

  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
/* ====================== leaflet anchor ====================== */
.leaflet-control-attribution a {
  color: rgb(7, 7, 138) !important;
}
/* ====================== Restaurant Details ====================== */
#inside-maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#inside-maincontent > section {
  width: 32%;
}

.inside header {
  /* position: fixed;
  top: 0;*/
  width: 100%;
  z-index: 1000;
}

/*==========map container in restaurant detail page===============*/
#inside-map-container {
  background: blue none repeat scroll 0 0;
  flex: 1;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

/*==========End map container in restaurant detail page===============*/

#restaurant-name {
  color: #944805;
  /*font-family: Arial, sans-serif;*/
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
}
#restaurant-address {
  font-size: 1.2rem;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container,
#reviews-container {
  border-right: 1px solid #d9d9d9;
  height: 800px;
}

#restaurant-container {
  padding: 20px;
  max-width: 400px;
}

#reviews-container {
  padding: 30px 40px 80px;
  overflow-y: scroll;
}
#reviews-container h2 {
  color: #944805;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  padding-left: 15px;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 90%;
  max-width: 1200px;
  box-shadow: 4px 4px 7px -3px rgba(194, 192, 190, 1);
}
#reviews-list li p {
  margin: 0 0 10px;
}

#reviews-list .review-name {
  font-size: 1.5em;
}

#reviews-list .review-date,
#reviews-list .review-rating {
  font-size: 0.9em;
  color: #727070;
}
#reviews-list .review-star {
  color: #b95a06;
  font-size: 1.2em;
}
#restaurant-hours {
  border-collapse: collapse;
}

#restaurant-hours td {
  color: #666;
  padding: 0 5px;
}

#restaurant-hours tr:not(:last-child) {
  border-bottom: 1px solid #cdcdcd;
}

#sw-notification {
  position: sticky;
  height: 10vh;
  bottom: 0;
  color: white;
  font-size: 3em;
  text-align: center;
  background: #252831;
}

.hide {
  display: none;
}
/* ====================== Media Query ====================== */
@media only screen and (max-width: 1200px) {
  #inside-map-container {
    order: 2;
    width: 50%;
  }

  #restaurant-container,
  #reviews-container {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    height: auto;
  }

  #restaurant-container {
    order: 1;
    width: 40% !important;
  }

  #reviews-container {
    order: 3;
    width: 98% !important;
    overflow: hidden;
    padding: 5px;
  }

  #reviews-container > * {
    margin: auto;
  }
}

@media only screen and (max-width: 760px) {
  nav h1 {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
  }

  .filter-options {
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .filter-options select {
    width: 80%;
  }

  #inside-maincontent {
    flex-direction: column;
  }
  #inside-map-container {
    width: 100% !important;
    height: 40vh;
    flex: none;
  }

  #restaurant-container {
    width: 100% !important;
    max-width: none;
  }

  #restaurant-hours {
    letter-spacing: -0.05em;
  }

  #restaurant-hours td {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 610px) {
  #restaurants-list li {
    flex-grow: 1;
  }
}
