@charset "utf-8";

/* Base settings Start============================================ */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

body,
td,
th,
p {
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  width: 100vw;
}

/*set 100% width to the direct children of body element*/
body > * {
  width: 100%;
}

ul,
li {
  color: #333;
}

a {
  color: #f77400;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #944805;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 10px;
}

/*style service worker notification message*/
#sw-notification {
  position: -webkit-sticky;
  position: sticky;
  height: 10vh;
  bottom: 0;
  color: rgb(216, 104, 231);
  font-size: 3em;
  text-align: center;
  background: #252831;
  z-index: 999;
}

/*service worker update button*/
#sw-notification button {
  border: none;
  border-bottom: 2px solid rgb(216, 104, 231);
  color: rgb(216, 104, 231);
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

/*hide service worker notification message*/
.hide {
  display: none;
}
/* Base settings End============================================ */

/* Content for Screen Reader ONLY================================ */
.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

/* Main Content on Home Page Start ================================ */
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#maincontent > section {
  width: 100%;
}

#map-container {
  height: 50vh;
  width: 100%;
}
/* Main Content on Home Page End ================================ */

/* Footer Start ================================================= */
#footer {
  background-color: #252831;
  color: rgb(218, 216, 216);
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* Footer End ================================================= */

/* Navigation Start============================================= */
#banner {
  width: 100%;
  height: 12vh;
  min-height: 100px;
  background-color: #252831;
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

/*logo image*/
#banner img {
  height: 100%;
  width: auto;
  max-width: 80px;
}

/*Page Title*/
#banner h1 {
  margin: auto;
  color: #f77400;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/*breadcrumb trail*/
#breadcrumb {
  padding: 10px 10px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 1.2rem;
  margin: 0;
  /*width: calc(50% - 80px);*/
  width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #944805;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* Map element on multiple pages Start================================ */
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
/* Map element on multiple pages End================================ */

/* Restaurant Filtering on Landing page Start======================== */
.filter-options {
  width: 100%;
  background-color: #944805;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*Section title*/
.filter-options h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

/*select element style*/
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  /*font-family: Arial, sans-serif;*/
  font-size: 1.1rem;
  height: 2.5rem;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 400px;
  width: 95%;
}
/* Restaurant Filtering on Landing page End======================== */

/* Restaurant Listing on landing page Start========================= */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/*set the width of restaurant image to 100%*/
#restaurants-list img {
  width: 100%;
  height: auto;
}

/*IE edge does not support space-evenly for flexbox
* if the browser is IE edge, change to space-round
*/
@supports (-ms-flow-from: thingy) {
  /* Edge only */
  #restaurants-list {
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
  }
}

/*for each restaurant*/
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  margin: 15px 5px;
  min-height: 390px;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 270px;
  flex: 0 1 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*restaurant image*/
#restaurants-list .restaurant-img {
  background-color: #ccc;
  margin: 0;
  width: 100%;
  height: auto;
  max-width: 400px;
}

/*restaurant name*/
#restaurants-list li h1 {
  color: #794211;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

/*restaurant neighborhood and address*/
#restaurants-list p {
  margin: 0;
  font-size: 1.1rem;
}

/*restaurant view details link*/
#restaurants-list li a {
  background-color: #944805;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 15px 0 0;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
/* Restaurant Listing on landing page End========================= */

/* leaflet anchor ================================================  */
.leaflet-control-attribution a {
  color: rgb(7, 7, 138) !important;
}

/*Main content on Restaurant Details Page Start==================== */
#inside-maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#inside-maincontent > section {
  width: 32%;
}

/*map container on restaurant detail page*/
#inside-map-container {
  background: blue none repeat scroll 0 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*Map element*/
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

/*restaurant image*/
#restaurant-img {
  width: 100%;
}

/*restaurant address*/
#restaurant-address {
  font-size: 1.2rem;
  margin: 10px 0px;
}

/*restaurant cuisine type*/
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/*restaurant open hours*/
#restaurant-hours {
  border-collapse: collapse;
}

#restaurant-hours td {
  color: #666;
  padding: 0 5px;
}

#restaurant-hours tr:not(:last-child) {
  border-bottom: 1px solid #cdcdcd;
}

#restaurant-container,
#reviews-container {
  border-right: 1px solid #d9d9d9;
  height: 800px;
}

#restaurant-container {
  padding: 20px;
  max-width: 400px;
}

#reviews-container {
  padding: 30px 40px 80px;
  overflow-y: scroll;
}

/*review title*/
#reviews-container h2 {
  color: #944805;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  padding-left: 15px;
}

/*reviews list*/
#reviews-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/*each review*/
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 90%;
  max-width: 1200px;
  -webkit-box-shadow: 4px 4px 7px -3px rgba(194, 192, 190, 1);
  box-shadow: 4px 4px 7px -3px rgba(194, 192, 190, 1);
}

/*review content*/
#reviews-list li p {
  margin: 0 0 10px;
}

/*review author*/
#reviews-list .review-name {
  font-size: 1.5em;
}

/*review date and rating*/
#reviews-list .review-date,
#reviews-list .review-rating {
  font-size: 0.9em;
  color: #727070;
}

/*review rating stars*/
#reviews-list .review-star {
  color: #b95a06;
  font-size: 1.2em;
}

/*Main content on Restaurant Details Page End==================== */

/* Media Query for screens with size less than 1200px============= */
@media only screen and (max-width: 1200px) {
  /*Change Map order and width in flexbox*/
  #inside-map-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 50%;
  }

  /*change border*/
  #restaurant-container,
  #reviews-container {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    height: auto;
  }

  /*Change restaurant session's order and width in flexbox*/
  #restaurant-container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 40% !important;
  }

  /*Change review session's order and width in flexbox*/
  #reviews-container {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 98% !important;
    overflow: hidden;
    padding: 5px;
  }
}

/* Media Query for screens with size less than 760px============= */
@media only screen and (max-width: 760px) {
  /*Change style of App title*/
  #banner h1 {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
  }

  /*Change the layout of restaurant filters from horizontal to vertical */
  .filter-options,
  #inside-maincontent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .filter-options {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .filter-options select {
    width: 80%;
  }

  #inside-map-container {
    width: 100% !important;
    height: 40vh;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  #restaurant-container {
    width: 100% !important;
    max-width: none;
  }

  #restaurant-hours {
    letter-spacing: -0.05em;
  }

  #restaurant-hours td {
    font-size: 1.2em;
  }
}

/* Media Query for screens with size less than 610px============= */
@media only screen and (max-width: 610px) {
  #restaurants-list li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

/* Media Query for screens with size less than 400px============= */
@media only screen and (max-width: 400px) {
  /*Hide logo image*/
  #banner img {
    display: none;
  }

  /*Reduce title letter spacing*/
  #banner h1 {
    letter-spacing: 0.1rem;
  }
}
